.page-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
}

.order-update {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 8px;
}

    .order-update h4 {
        margin-bottom: 15px;
    }
